

.footer{
    background-color: #ffda00;
    padding-bottom: 70px;
    color: white;

}

.social{
    color:white;
    font-size: medium;
    text-align: center;
    padding-top: 2px;
}

.icons{
    text-align: center;
    padding-top: 15px;
}